

/****** GENERALI *******/

:root{
    --player-bar-height: 100px;
}

body{
    font-family: sans-serif;
}

#wrapper{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
/* colori */
.darkgraycolor{
    color: darkgray;
}

nav{
    background-color: black;
    height: calc(100vh - var(--player-bar-height));
    width: 230px;
}

main{
    background-color: aquamarine;
    height: calc(100vh - var(--player-bar-height));
    width: calc(100% - 230px);
    overflow-y: scroll;
}


footer{
    background: #282828;
    height: var(--player-bar-height);
    width: 100%;
}


/* *****NAVIGATION BAR LATERALE*** */

#nav-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 1.5rem 0 1.5rem;
    height: 100%;
    width: 100%;
}


/* parte superiore */

.top-nav{
    height: 80%;
    display: flex;
    flex-direction: column;

}

/* logo */
.logo{
    padding: 1.5rem 2rem 0 0;
    max-height: 10%;
    margin-bottom: 1.5rem;
}

.logo-small{
    display: none;
}



/* menu */

.menu-item{
    width: 100%;
    height: 2rem;
    color: white;
    display: flex;
    text-decoration: none;
    margin-bottom: 0.5rem;

    

}

.menu-item img{
    height: 100%;
}
.menu-item span{
    padding: 0.5rem;
    font-weight: bold;

}


/* aggiunta playlist */



.add-playlist{

    color: white;
    margin-bottom: 1rem;
}
.add-playlist h4{
    margin-bottom: 1em;
}
.add-playlist i{
    font-size: 3em;
    margin-right: 1rem;
}




/* playlists */


#playlists{
    display: flex;
    flex-direction: column;
    height: 40%;
    width: 100%;
    overflow-y: scroll;
}

#playlists ul {

    list-style-type: none;
    color: rgba(255, 255, 255, 0.5);
    line-height: 150%;


}


/* Navigatore Bottom */
.bottom-nav{
    height: 20%;
    color: white;
    width: 100%;
}
.bottom-nav p{
    display: inline-block;
}
.bottom-nav img{
    min-width: 1.5rem;
    border-radius: 50%;
    aspect-ratio: 1;
    background-color: darkgray;
    margin-right: 0.5rem;
}






/****** MAIN *******/

#strip{
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: end;
    align-items: center;

}
#strip .btn{
    margin-right: 1em;
    padding: 1rem 2rem;
    border: 1px solid white;
    color: white;

    border-radius: 50px;
}

/* BARRA NAVIGAZIONE CENTRALE */

#navigation-options ul{
    text-align: center;
    color: beige;
}
#navigation-options li{
    display: inline-block;
    text-decoration: none;
    margin:  1rem 0.5rem;
    
}
#navigation-options li a{
    
    font-weight: 600;
    text-decoration: none;
    color: #64676D;
    
    
}


/* riga */

.row .title h2{

    color: white;
    font-size: xx-large;
}
.row .title p{

    color: slategrey;
    font-size: x-small;
}
.row{
    width: 100%;
    margin: 5rem auto 2rem ;
    padding-left: 2em;

}

.flexrow{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
}





/* singola carta */

.card{
    max-width: calc(100% / 6 - 1rem);
    margin-right: 1.5rem;
    color: white;
    text-align: center;
}

.card h4{
    margin: 1em auto;
    font-size: small;
}

.card span{

    font-size: small;
    color: #64676d;
}

.card img{
    width: 100%;

}

.artist div img{
    border-radius: 50%;
}









/* *******footer********** */



.play{
    display: flex;
    background-color: #282828;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: darkgray;
    padding-bottom: 1.5em;
}
footer>div{
    height: 100%;
}




#left{

    width: 230px;
    justify-content: space-around;
}
#center{
    flex-direction: column;
    flex-wrap: wrap;
    width: 40%;

}

#player-text{
    margin: 0.3rem;
}
#player-text h5{
    color: white;

}
#player-text span{
    color: #64676d;
    font-size: small;
}
.player-icons i{
    margin: 0.3rem;
}



/* ----------CENTRO------------ */

#center{
    flex-direction: column;
    flex-wrap: wrap;
    width: 40%;

}

#progressbar-top{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    padding: 1em;

}

#progressbar-bottom{
    display: flex;
    width: 100%;

    justify-content: space-around;
    position: relative;

}


.progressbar{
    display: inline-block;

    background-color: slategray;
    border-radius: 16px;
    height: 3px;
    align-self: center;
    position: relative;
}
.progressbar-actual{

    background-color: lightgray;
    border-radius: 16px;
    height: 3px;
    position: absolute;


}


.circle{
    position: absolute;
    top: -130%;
    right: 0;
    border-radius: 50%;
    background-color: slateblue;
    height: 0.7em;
    width: 0.7em;
    

}

/* right */

#right{
    display: flex;
    justify-content: space-evenly;
    width: 230px;
}











/* ############## MEDIA QUERY ############ */


@media screen and (max-width:576px) {

    /* MODIFICHE AL MAIN */
    .flexrow{
        flex-wrap: wrap;
    }
    .card{
        max-width: calc(100% / 2 - 1.5rem);
        margin-bottom: 1rem;
    }
    main {
        width: calc(100% - 42px);
    }

    /* collasso della barra di navigazione */

    .logo{
        padding: 0.4rem;
        margin-bottom: 0.5rem;
        text-align: center;
    }
    .logo-original{
        display: none;
    }
    .logo-small{
        display: inline-block;
    }

    nav{
        width: 42px;
    }
    #nav-wrapper{
        padding: 0;
        margin: 0 auto;
    }

    .bottom-nav img{
        margin-right: 0;
    }
    .menu-item{
        justify-content: center;
    }

    .bottom-nav .avatar{
        justify-content: center;
    }
    .bottom-nav span{
        display: block;
        text-align: center;
        
    }
    .menu-item span{
        display: none;
        
    }
    .add-playlist,
    #playlists{
        display: none;
    }

    .bottom-nav p,hr,h3{
        display: none;
    }


    



}