

/****** GENERALI *******/

:root{
    --player-bar-height: 100px;
}

body{
    font-family: sans-serif;
}
ul{
    list-style-type: none;
}



#wrapper{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
/* colori */
.darkgraycolor{
    color: darkgray;
}

nav{
    background-color: black;
    height: calc(100vh - var(--player-bar-height));
    width: 230px;
}

main{
    background-color: aquamarine;
    height: calc(100vh - var(--player-bar-height));
    width: calc(100% - 230px);
    overflow-y: scroll;
}


footer{
    background: #282828;
    height: var(--player-bar-height);
    width: 100%;
}


/* *****NAVIGATION BAR LATERALE*** */

#nav-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
/*     padding: 0 1.5rem 0 1.5rem; */
    height: 100%;
    width: 100%;
}


.padding-16{
    padding: 0 16px
}
/* parte superiore */

.top-nav{
    height: 80%;
    display: flex;
    flex-direction: column;

}

/* logo */
.logo{
    padding: 1.5rem 2rem 0 0;
    max-height: 10%;
    margin-bottom: 1.5rem;
}

.logo-small{
    display: none;
}



/* menu */

.menu-item{
    width: 100%;
    height: 2rem;
    color: white;
    display: flex;
    text-decoration: none;
    margin-bottom: 0.5rem;

    

}

.menu-item img{
    height: 100%;
}
.menu-item span{
    padding: 0.5rem;
    font-weight: bold;

}


/* aggiunta playlist */



.add-playlist{

    color: white;
    margin-bottom: 1rem;
}
.add-playlist h4{
    margin-bottom: 1em;
}
.add-playlist i{
    font-size: 3em;
    margin-right: 1rem;
}




/* playlists */


#playlists{
    display: flex;
    flex-direction: column;
    height: 40%;
    width: 100%;
    overflow-y: scroll;
}

#playlists ul {

    list-style-type: none;
    color: rgba(255, 255, 255, 0.5);
    line-height: 150%;


}


/* Navigatore Bottom */
.bottom-nav{
    height: 20%;
    color: white;
    width: 100%;
}
.bottom-nav p{
    display: inline-block;
}

.bottom-nav img{
    max-width: 1.5rem;
    border-radius: 50%;
    aspect-ratio: 1;
    background-color: darkgray;
    margin-right: 0.5rem;
}






/****** MAIN *******/

#strip{
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: end;
    align-items: center;

}
#strip .btn{
    margin-right: 1em;
    padding: 1rem 2rem;
    border: 1px solid white;
    color: white;

    border-radius: 50px;
}

/* BARRA NAVIGAZIONE CENTRALE */

#navigation-options ul{
    text-align: center;

}
#navigation-options li{
    display: inline-block;
    text-decoration: none;
    margin:  1rem 0.5rem;
    
}
#navigation-options li a{
    font-size: small;
    font-weight: 800;
    text-decoration: none;
    color: #64676D;
    
    
}


/* riga */

.row .title h3{

    color: white;
    font-weight: bold;
    font-size: x-large;
}
.row .title p{

    color: slategrey;
    font-size: x-small;
}
.row{
    width: 100%;
    margin: 5rem auto 2rem ;
    padding-left: 2em;

}

.flexrow{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
}





/* singola carta */

.card{
    max-width: calc(100% / 6 - 1rem);
    margin-right: 1.5rem;
    color: white;
    text-align: center;
}

.card h4{
    margin: 1em auto;
    font-size: small;
}

.card span{

    font-size: small;
    color: #64676d;
}

.card img{
    width: 100%;

}

.artist div img{
    border-radius: 50%;
}









/* *******footer********** */



.play{
    display: flex;
    background-color: #282828;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: darkgray;
    padding-bottom: 1.5em;
}
footer>div{
    height: 100%;
}


/* formattazione testo e icone */
#player-text{
    margin: 0.3rem;
}
#player-text h5{
    color: white;

}

#player-text span{
    color: #64676d;
    font-size: small;
}
.player-icons i{
    margin: 0.3rem;
}


#progressbar-bottom span{
    font-size: x-small;
    font-weight: bold;
}



/* left */
#left{

    width: 230px;
    justify-content: space-around;
}




/* ----------CENTER------------ */

#center{
    flex-direction: column;
    flex-wrap: wrap;
    width: 40%;

}

#progressbar-top{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    padding: 1em;

}

#progressbar-bottom{
    display: flex;
    width: 100%;

    justify-content: space-around;
    position: relative;

}

/* barra con cerchio */
.progressbar{
    display: inline-block;

    background-color: slategray;
    border-radius: 16px;
    height: 3px;
    align-self: center;
    position: relative;
}
.progressbar-actual{

    background-color: lightgray;
    border-radius: 16px;
    height: 3px;
    position: absolute;


}

.circle{
    position: absolute;
    top: -130%;
    right: -6%;
    border-radius: 50%;
    background-color: slateblue;
    height: 0.7em;
    width: 0.7em;
    display: none;

}

/* right */

#right{
    display: flex;
    justify-content: space-evenly;
    width: 230px;
}



/* ##################### HOVER E ANIMAZIONI      ###########  */
.btn:hover{
    text-shadow: 0 0 4px #FFF;
    box-shadow: 0 0 3px #FA3, inset 0 0 4px 1px #FFF;
}

.logo>a>img:hover {
    border: 1px solid white;
    border-radius: 13px;
    padding: 0.5rem;
}

.menu-item:hover {
    border-left: 2px solid greenyellow;
}

#navigation-options li:hover{

    margin: calc(1rem - 2px) 0.5rem;
    border-bottom: 2px solid greenyellow;
}



.play div:hover .circle{
    display: block;
}
#progressbar-bottom:hover .circle{
    display: block;
}





/* ############## MEDIA QUERY ############ */

@media screen and (max-width:768px) and (min-width: 576px) {

    .flexrow{
        flex-wrap: wrap;
    }
    .card{
        max-width: calc(100% / 4 - 1.5rem);
        margin-bottom: 1rem;
    }
    main {
        width: calc(100% - 230px);
    }


}
@media screen and (max-width:576px) and (min-width:480px) {

    .flexrow{
        flex-wrap: wrap;
    }
    .card{
        max-width: calc(100% / 2 - 1.5rem);
        margin-bottom: 1rem;
    }
    main {
        width: calc(100% - 230px);
    }


}

@media screen and (max-width:480px) {

    /* MODIFICHE AL MAIN */
    .flexrow{
        flex-wrap: wrap;
    }
    .card{
        max-width: calc(100% / 2 - 1.5rem);
        margin-bottom: 1rem;
    }
    main {
        width: calc(100% - 42px);
    }

    /* collasso della barra di navigazione */

    .padding-16{
        padding-left: 0;
        padding-right: 0;
    }

    .logo{
        padding: 0.4rem;
        margin-bottom: 0.5rem;
        text-align: center;
    }
    .logo-original{
        display: none;
    }
    .logo-small{
        display: inline-block;
    }

    nav{
        width: 42px;
    }
    #nav-wrapper{
        padding: 0;
        margin: 0 auto;
    }

    .bottom-nav img{
        margin-right: 0;
        width: 1.5rem;
    }
    .menu-item{
        justify-content: center;
    }

    .bottom-nav .avatar{
        justify-content: center;
    }
    .bottom-nav span{
        display: block;
        text-align: center;
        
    }
    .menu-item span{
        display: none;
        
    }
    .add-playlist,
    #playlists{
        display: none;
    }

    .bottom-nav p,hr,h3{
        display: none;
    }


    #right, #left{
        width: 30%;
    }

    



}




