

/****** GENERALI *******/

:root{
    --player-bar-height: 100px;
}
body{
    font-family: sans-serif;
}
#wrapper{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}


nav{
    background-color: black;
    height: calc(100vh - var(--player-bar-height));
    width: 200px;
    display: flex;
    flex-direction: column;
}

main{
    background-color: aquamarine;
    height: calc(100vh - var(--player-bar-height));
    width: calc(100% - 200px);
}


footer{
    background: blue;
    height: var(--player-bar-height);
    width: 100%;
}

#logo{
    padding: 1rem;
    padding-right: 3rem;
}

#menu a{
    text-decoration: none;
    color: white;
    width: 100%;

/*     margin: 0.5rem 0; */
    padding-left: 1rem;
    display: inline-block;
    vertical-align: top;

}

#menu img{
    height: 1.5rem; 
}

#playlists{
    margin-top: 1rem;
    color: white;
    padding-left: 1em;
}


#addplay{
    height: 40px;
    width: 40px;
    background-color: rgb(255, 255, 255, 0.5);
    padding: 10PX;
    text-align: CENTER;
}

#addplay h3{
    
    height: 100%;
    color: black;
}